@font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#header {
    width: 100%;
    padding-top: 28px;
    position: relative;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #e7e7e8;
    z-index: 999;
    background: #ffffff;
}

#header .nav {
    float: left;
}

.nav {
    width: 200px;
    position: fixed;
    height: 100%;
    left: -200px;
    z-index: 1000;
}

.nav > .btn {
    position: fixed;
    left: 20px;
    top: 20px;
    cursor: pointer;
    padding: 10px;
    display: block;
}

.nav > .main_nav {
    position: absolute;
    left: 0;
    top: 120px;
    width: 200px;
    /*    background-color: #0581d8;*/
}

.nav > ul > li:hover {
    background: #333;
}

.nav > ul > li:hover > a {
    color: #ccc;
}

.nav > ul > li {
    width: 100%;
    height: 50px;
    position: relative;
}

.nav > ul > li i {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.nav > ul > li:nth-child(2) i {
    font-size: 25px;
}

.nav > ul > li > a {
    display: block;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
    color: #777;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 3px;
    background-color: #aaa;
    margin: 6px 0;
    transition: 0.4s;
}

.change {
    left: 0;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -4px);
}

.nav .sub_nav {
    /*    display: none;*/
    background-color: #f5f5f5;
    position: absolute;
    left: 200px;
    top: 0;
    width: 200px;
}

.nav .a {
    display: none;
}

.nav .b {
    display: none;
}

.nav .sub_nav li {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 30px;
    /*    border-bottom: 1px solid #ddd;*/
}

.nav .sub_nav li:hover {
    background: #333;
}

.nav .sub_nav li:hover a {
    color: #ccc;
}

.nav .sub_nav li a {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
    color: #000;
}

.nav .a.on {
    display: block;
    transition: all 1s;
}

.nav .b.on {
    display: block;
    transition: all 1s;
}

#header .logo {
    width: 210px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

#header .logo a {
    width: 210px;
}

#header .bar {
    width: 100%;
    height: 25px;
    background: #0581d8;
    margin: 0 auto;

}

.main_section {
    width: 100%;
    height: 662px;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 50px;
}

.main_section .left_section {
    width: 43%;
    float: left;
    margin-right: 5%;

}

.main_section .left_section img {
    width: 100%;
}

.main_section .right_section {
    width: 52%;
    overflow: hidden;
}

.main_section .right_section img {
    width: 100%;
}

.sc_section {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    height: 417px;
    margin-top: 50px;

}

.sc_section .md {
    width: 100%;
    height: 417px;
    max-width: 1920px;
    background: url(../images/scbg.png) no-repeat top center;
    padding-top: 76px;
    position: absolute;
    margin: 0 auto;

}

.sc_section .md h1 {
    text-align: center;
    font-size: 48px;
}

.sc_section .md p {
    text-align: center;
    font-family: 'MaruBuri-Regular';
    font-size: 28px;
    margin-top: 45px;
    line-height: 50px;
}

.shoes,
.quilt {
    display: none;
}

.keyimage {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 100px;
}

.keyimage ul {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.keyimage ul li {
    float: left;
    width: 33.33%;

}

.keyimage ul li img {
    position: relative;
    opacity: 0.7;
    width: 100%;
    z-index: 1;
}

.keyimage ul li img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 1;
    z-index: 100;
}

.page3 {
    width: 100%;
    background: #f5f6fa;

}

.page3 .tr_section {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: -100px;

}

.page3 .tr_section .tr-box {
    width: 15%;
    height: 565px;
    float: left;
    background: #ffffff;
    position: relative;
    padding-top: 50px;
}

.page3 .tr_section .tr-box a {
    display: block;
    height: 110px;
}

.page3 .tr_section .tr-box:hover {

    transition: all 0.2s;
    transform: scale(1.1);
}

.page3 .tr_section .tr-box p {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}

.page3 .tr_section .tr-box p:nth-child(4) {
    display: none;
    font-size: 24px;
}

.page3 .tr_section .tr-box:hover.tr-box p:nth-child(4) {
    display: block;
    transform: all 1s;
}

.page3 .tr_section .tr-box p span {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 10%;
}

.page3 .tr_section .tr-box h3 {
    text-align: center;
    font-family: 'MaruBuri-Regular';
    font-size: 24px;
    margin-top: 50px;
}

.page3 .tr_section img {
    height: 80px;
}

.page3 .tr_section .view1 {
    margin-left: 1%;

}

.page3 .tr_section .view1 img {
    margin-left: 30%;
    width: 100px;
}

.page3 .tr_section .view2 {
    margin-left: 1%;

}

.page3 .tr_section .view2 img {
    margin-left: 33%;
    width: 80px;
}

.page3 .tr_section .view3 {
    margin-left: 1%;

}

.page3 .tr_section .view3 img {
    margin-left: 38%;
    width: 65px;

}

.page3 .tr_section .view4 {
    margin-left: 1%;

}

.page3 .tr_section .view4 img {
    margin-left: 35%;
    width: 70px;

}

.page3 .tr_section .view5 {
    margin-left: 1%;

}

.page3 .tr_section .view5 img {
    margin-left: 30%;
    width: 90px;
}

.page3 .tr_section .view6 {
    margin: 0 1%;

}

.page3 .tr_section .view6 img {
    margin-left: 31%;
    width: 80px;
}

.fth_section {
    width: 720px;
    height: 123px;
    margin: 0 auto;
    background: #00487f;
    padding-top: 25px;
    margin-top: -30px;
}

.fth_section h1 {
    text-align: center;
    font-size: 36px;
    color: #f8f9f9;
}

.ev {
    width: 720px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.ev h3 {
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 20px;
    font-family: 'MaruBuri-Regular';
}

.ev h2 {
    font-size: 36px;
    position: absolute;
}

.ev p {
    font-size: 12px;
    position: absolute;

}

.event2 {
    border-bottom: 4px dotted #0a5e80;
    border-top: 4px dotted #0a5e80;

}

.event1 p {
    left: 45px;
    top: 60px;
}

.event1 h3 {
    left: 69px;
    top: 30px;
}

.event1 h2 {
    right: 77px;
    top: 30px;
}

.event2 p {
    left: 35px;
    top: 60px;
}

.event2 h3 {
    left: 56px;
    top: 30px;
}

.event2 h2 {
    right: 77px;
    top: 30px;
}

.event3 h3 {
    left: 90px;
    top: 30px;
}

.event3 h2 {
    right: 77px;
    top: 30px;
}

.event4 {
    margin-bottom: 20px;
    border: 1px solid #3a93f8;
    height: 230px;
    padding: 10px;
    padding-right: 0px;
}

.event4 li {
    font-size: 13px;
    list-style: disc;
    margin-bottom: 4px;
    margin-left: 15px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
}

.event4 p {
    position: relative;
    font-size: 20px;
    line-height: 25px;
    color: #2471c8;
    font-family: 'MaruBuri-Regular';
    margin-bottom: 5px;
}

.event4 p img {
    width: 24px;
}

.stamp {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #f5f6fa;
    height: 112px;
    position: relative;
    overflow: hidden;
}

.stamp h2 {
    position: absolute;
    left: 173px;
    top: 25px;
    color: #045a7d;
    font-size: 24px;
    font-family: 'MaruBuri-Regular';
}

.stamp p {
    float: left;
    margin-left: 35%;
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
    width: 250px;
    line-height: 25px;
    font-family: 'MaruBuri-Regular';
}

.stamp img {
    float: left;
}

.stamp p:nth-child(3) {
    margin-left: 10%;
}

.footer {
    width: 100%;
    border-top: 1px solid #eee;
}

.footer-wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    padding: 35px 0 35px 245px;
    color: #898989;
    background: url(../images/footer_logo.png) 0 33px no-repeat;
    font-size: 13px;
}

.footer .footer-wrap p span {
    position: relative;
    display: inline-block;
    padding: 0 10px 0 0;
    margin-right: 10px;
    font-family: 'Nanum Barun Gothic', '돋움', '굴림', serif;
    line-height: 1.5em;
}

address {
    font-style: normal;
}

.footer .footer-wrap p {
    color: #323232;
}

@media screen and (max-width:1200px) {
    .main_section .left_section {
        display: none;
    }

    .main_section .right_section {
        width: 100%;
    }

    .sc_section {
        max-width: 1200px;
        height: 300px;
        margin-top: 0px;
        margin-bottom: 200px;
    }

    .sc_section .md {
        width: 100%;
        max-width: 1200px;
        background-size: cover;
        height: auto;
    }

    .sc_section .md h1 {
        font-size: 36px;
    }

    .sc_section .md p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 100px;
    }
    .page3 .tr_section .tr-box:hover {
        background-color: antiquewhite;
        transition: all 0.2s;
        transform: scale(1);
    }        
    .page3 .tr_section .tr-box {
        width: 45%;
        height: 20vh;
        float: left;
        padding-top: 40px;
        margin: 0 2.5%;;
        margin-bottom: 20px;
        border-left: 1px solid #eee;
        overflow: hidden;
    }

    .page3 .tr_section .tr-box a h3 {
        text-align: center;
        font-size: 16px;
        margin-top: 0px;
    }

    .page3 .tr_section .tr-box p {
        font-size: 14px;
        text-align: center;
        margin: 0;
        margin-top: 10px;
        line-height: 25px;
    }
    .page3 .tr_section .tr-box .view2 p{
        line-height: 0;
    }
    .page3 .tr_section .tr-box p:nth-child(4) {
        font-size: 20px;
    }
    .page3 .tr_section .tr-box:hover.tr-box p:nth-child(4) {
    display: none;
    transform: all 1s;
}
    .page3 .tr_section .tr-box p span {
        font-size: 12px;
    }
    .page3 .tr_section img {
        display: none;
    }

    .page3 .tr_section .view2 br{
        display: none;
    }
    .stamp {
        width: 100%;
    }

    .stamp h2 {
        position: absolute;
        left: 10%;
        top: 25px;
        color: #045a7d;
        font-size: 20px;
        font-family: 'MaruBuri-Regular';
    }

    .stamp p {
        float: left;
        margin-left: 35%;
        text-align: center;
        font-size: 12px;
        margin-top: 25px;
        width: 250px;
        line-height: 25px;
        font-family: 'MaruBuri-Regular';
    }

    .stamp img {
        float: left;
    }

    .stamp p:nth-child(3) {
        margin-left: 0;
    }
}
@media screen and (max-width:770px) {
    .fth_section {
        width: 500px;
    }
    .ev{
        width: 500px;
    }
    .event4 {
        height: 28vh;
    }
    .stamp{
        display: none;
    }
}
