@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#header {
    width: 100%;
    height: 141px;
    padding-top: 28px;
    position: relative;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #e7e7e8;
    z-index: 999;
    background: #ffffff;
}

p,
li,h2,h3 {
    font-family: 'IropkeBatangM'
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
    color: #666;
    clear: both;
    table-layout: fixed;
    background: #fff;
    border-top: #ccc 1px solid;
    border-left: #ccc 1px solid;
    border-right: #ccc 1px solid;
    line-height: 1.5em;
}

td {
    color: #666;
    vertical-align: middle;
    text-align: center;
    padding: 12px 10px 11px;
    font-weight: normal;
    border-bottom: #ccc 1px solid;
}

td:nth-child(1) {
    border-right: 1px solid #ccc;
}

tr:nth-child(1) {
    background: #eee;
}

#header .nav {
    float: left;
}

.nav {
    width: 200px;
    position: fixed;
    height: 100%;
    left: -200px;
    z-index: 1000;
}

.nav > .btn {
    position: fixed;
    left: 20px;
    top: 20px;
    cursor: pointer;
    padding: 10px;
    display: block;
}

.nav > .main_nav {
    position: absolute;
    left: 0;
    top: 120px;
    width: 200px;
    /*    background-color: #0581d8;*/
}

.nav > ul > li:hover {
    background: #333;
}

.nav > ul > li:hover > a {
    color: #ccc;
}

.nav > ul > li {
    width: 100%;
    height: 50px;
    position: relative;
}

.nav > ul > li i {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.nav > ul > li:nth-child(2) i {
    font-size: 25px;
}

.nav > ul > li > a {
    display: block;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
    color: #777;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 3px;
    background-color: #aaa;
    margin: 6px 0;
    transition: 0.4s;
}

.change {
    left: 0;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -4px);
}

.nav .sub_nav {
    /*    display: none;*/
    background-color: #f5f5f5;
    position: absolute;
    left: 200px;
    top: 0;
    width: 200px;
}

.nav .a {
    display: none;
}

.nav .b {
    display: none;
}

.nav .sub_nav li {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 30px;
    /*    border-bottom: 1px solid #ddd;*/
}

.nav .sub_nav li:hover {
    background: #333;
}

.nav .sub_nav li:hover a {
    color: #ccc;
}

.nav .sub_nav li a {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
    color: #000;
}

.nav .a.on {
    display: block;
    transition: all 1s;
}

.nav .b.on {
    display: block;
    transition: all 1s;
}

#header .logo {
    width: 210px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

#header .logo a {
    width: 210px;
}

#header .bar {
    width: 100%;
    height: 25px;
    background: #0581d8;
    margin: 0 auto;

}


#section {
    background: url(../sub_img/blanket_section.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 378px;
    max-width: 1920px;
    margin: 0 auto;
}

#content .title {
    text-align: center;
    margin-top: 40px;
}

#content .title h1 {
    font-size: 48px;
    font-family: 'paybooc-Bold';
}

#content .title p {
    margin-top: 33px;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 400;
}

#main {
    width: 100%;
    margin: 0 auto;
    background: #f6f7fb;
    margin-top: 40px;
    padding-top: 60px;
}

#main .text {
    line-height: 1.5em;
    font-family: 'paybooc-Bold';
    line-height: 40px;
}

#main .title {
    text-align: center;
}

#main .title h1 {
    font-family: NanumGothic;
    font-size: 30px;
    font-weight: 300;
}

#main .process {
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 0px;
    overflow: hidden;
}

#main .process .text {
    float: left;
    width: 20%;
    height: 500px;
}

#main .process .text h2 {
    font-family: 'paybooc-Bold';
    font-size: 24px;
    font-weight: 0;
    line-height: 40px;
}

#main .process .circle {
    width: 75%;
    float: left;
    margin-left: 50px;

}

#main .process .circle .table {
    float: left;width: 404px;
}
#main .process .circle .table h2{
    font-size: 16px;
}
#main .process .circle .table p{
    margin-top: 10px;    line-height: 1.5em;
}
#main .process .circle .table:nth-child(1){
    margin-bottom: 150px;
}
#main .process .circle .table:nth-child(2){
    margin-left: 16px;
    margin-bottom: 150px;
}
#main .process .circle .table:nth-child(4){
    margin-left: 16px;
}
#main .content {
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 80px;
    overflow: hidden;
}

#main .price .text {
    float: left;
    width: 20%;
    margin-right: 5%;
}

#main .price_table {
    width: 75%;
    float: left;
    overflow: hidden;
}
#main .event{
    background: url(../sub_img/blanket_event.png) no-repeat top center;
    background-size: cover;
    height: 310px;
    width: 1100px;
}
.event{
    text-align: center;
    
}
.event h1{
    color:#0581d8; 
    margin-top: 40px;
    font-size: 50px;
}
.event h2{
    margin-top: 120px;
}
.review{
    text-align: center;
}
.review .review_text h1{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}
.review .review_text{
    margin-bottom: 50px;
}
.review .review_content{
    float: left;
    margin-left: 10px;
    background: #eee;
}
.review .review_content:nth-child(6){
    margin-left: 0;
}

.review .review_content h2{
    margin: 10px 0;
    font-size: 22px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
}
.review .review_content p{margin-bottom: 10px;}
.review .review_content:hover{
    background: #8ed585;
    transition: 0.5s;
}
.review .review_content:hover h2{
    color: #fff;
}
.review .review_content:hover p{
    color: #fff;
}
.footer {
    width: 100%;
    border-top: 1px solid #eee;
    margin-top: 90px;
}

.footer-wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    padding: 35px 0 35px 245px;
    color: #898989;
    background: url(../images/footer_logo.png) 0 40px no-repeat;
    font-size: 13px;
}

.footer .footer-wrap p span {
    position: relative;
    display: inline-block;
    padding: 0 10px 0 0;
    margin-right: 10px;
    font-family: 'Nanum Barun Gothic', '돋움', '굴림', serif;
    line-height: 1.5em;
}

address {
    font-style: normal;
}

.footer .footer-wrap p {
    color: #323232;
}
